# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Coverage directory used by testing tools
coverage/

# Optional npm cache directory
.npm

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Logs of yarn
.yarn-integrity

# npm debug logs
npm-debug.log

# Firebase config file
.firebase/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Miscellaneous
.sass-cache
*.bak
*.tmp
*.swp
